html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  display: flex;
  justify-content: space-around;
}

.editable {
  border-bottom: 1px solid black;
}
.center {
  height: 200px;
  margin-top: calc(50vh - 100px);
}
.error {
  color:red;
  weight: bold;
}
.likebutton {
  border: 1px solid black;
  border-radius: 5px;
}
.liked {
  border: 1px solid red;
}
#likeCount {
  display: inline;
}
